body {
    font-family: 'Helvetica Nueue', Arial, sans-serif;
}

.app {
    width: 800px;
    margin: 0 auto;
}

input[type=text]{
    font-size: 24px;
    color: #1b1b1b;
}

ul {
    padding-left: 1px;
}
li {
    list-style: none;
    margin: 10px 0px;
}